*{
    box-sizing: border-box;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    background-color: #67F2FF;
    color: rgb(0, 0, 0);
}

.header{
    font-size: 22px;
    font-weight: 800;
    padding: 20px 15px ;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.main-one{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 50px 0;
    background-color: #FFC067;
    border-radius: 20px;
    
}

.main-two{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

.main-two-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.main-three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.main-three-div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.main-four{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;
    margin-bottom: 10px;
}

.main-four-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer{
    text-align: center;
    padding: 10px 0;
    background-color: white;
}

a{  
    background-color:#ffff66 ;
    height: 80px;
    width: 18%;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
}

h3{
    font-size: xx-large;
    font-weight: bolder;
}

.skills{
    padding: 50px 0px ;
    width: 100px;
    background-color: #ffff66;
    border-radius: 25px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

#view{
    background-color:#FFC067;
    width: 40%;
}

a{
    transition: 0.2s;
}

a:hover{
    transform: scale(1.05);
}